@require './_*.styl'

body
  max-width 1140px
  margin auto
  background-color #BBB
  margin-top 75px

.navbar-right
  margin-right: 0;

#main > *
  padding 20px
  background-color #FFF

h2
  color red

*:focus
  outline 0

@media screen and (max-width:767px)
  body
    padding 0
  
  #main > *
    padding 10px